<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>254526091487-eogbb5r80qh3peodk62339m32an99hip.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.254526091487-eogbb5r80qh3peodk62339m32an99hip</string>
	<key>API_KEY</key>
	<string>AIzaSyCbyAn9efhpq59oHhIMQtVylFb6uEzJF9c</string>
	<key>GCM_SENDER_ID</key>
	<string>254526091487</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.vercel.ai-code-g</string>
	<key>PROJECT_ID</key>
	<string>ai-chat-g</string>
	<key>STORAGE_BUCKET</key>
	<string>ai-chat-g.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:254526091487:ios:ca025cd870ef36cdb7396a</string>
</dict>
</plist>